body{
  margin:0;
  overflow:hidden;
  background:transparent;
}

#container{
  width:1024px;
  height:1536px;
  position:relative;
}

#banner{
  width:100%;
  height:100%;
  object-fit:contain;
  opacity:0;
  transition:opacity .6s ease; /* só transição suave */
}

#banner.show{
  opacity:1;
}

#overlay{
  position:absolute;
  inset:0;
  background:transparent;
  pointer-events:none;
}
